@charset "UTF-8";
@media screen and (min-width: 1000px) {

    /* HEADER */
    header .btn-menu {
        display: none;
    }

    header .menu-desktop {
        display: block;
    }




    /* HOME */
    .home .txt-home h1 {
        font-size: 3em;
    }

    .home .txt-home p {
        font-size: 22px;
    }





    /* QUEM SOMOS */
    .quem-somos .container-about {
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    .quem-somos .container-about .box-about {
        width: 300px;
    }




    /* DIRETORIAS */
    .diretorias .container {
        gap: 40px;
    }
    
    .diretorias .box-diret {
        max-width: 300px;
        height: 380px;
    }
    
    .diretorias .box-diret img {
        margin-bottom: 10px;
        width: 80px;
    }





    /* INTEGRANTES */
    .integrantes .perfil {
        width: 20%;
    }





    /* EVENTOS */
  
    .eventos .box-evento {
        max-width: 40%;
    }





    /* MODAIS */
    .modal {
        padding: 80px 60px 80px 60px;
        width: 550px;
        height: 750px;
    }
}